
<mat-toolbar style="background-color: #F2A100;">
  <span>Aplicación de Prueba</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" id="formFile"  accept=".xlsx" (change)="onFileChange($event)" >
    </div>
  </div>
  <div class="row">
    <div *ngFor="let categoria_productos of productos_categoria" class="col-sm-4 mt-4">
      <div class="table-responsive table-rounded mb-3">
        <table (drop)="onDrop(categoria_productos.categoria)" class="table table-striped table-hover border mb-0">
          <thead>
            <tr>
              <th class="text-center" colspan="4">{{categoria_productos.categoria}}</th>
            </tr>
            <tr>
              <th>ID</th>
              <th>Marca</th>
              <th>Categoría</th>
              <th>Clase</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="categoria_productos.data.length == 0" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (dragend)="onDragLeave($event)">
              <td class="text-danger text-center" colspan="4"> No hay productos para esta categoría</td>
            </tr>
            <tr [draggable]="true" (dragstart)="onDrag(producto)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (dragend)="onDragLeave($event)" *ngFor="let producto of categoria_productos.data; let i=index;">
              <td >
                {{producto.ID}}
              </td>
              <td>
                {{producto.Marca}}
              </td>
              <td>
                {{producto.Tipo}}
              </td>
              <td>
                {{producto.Clase}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="cantidad_cambios>0" class="row">
    <div class="col-sm-2">
      <button (click)="exportexcel()" type="button" class="btn btn_prueba">Descargar Datos Modificados</button>
    </div>
  </div>
</div>







